# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

1. languages used in data science
2. commonly used libraries
3. examples on the jupyter notebook

 Some of the popular languages that Data Scientists use are:

1. Python
2. R language
3. SQL

|Data Science Tools|
|------------------|
|Jupyter notebook  |
|VSCODE            |
|Google collab     |

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. matplotlib
3. Numpy

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author:Aditya Reddy